server:
  port:8080
spring:
  application:
    name:spring_batch_demo

  datasource:
    url: jdbc:h2:mem:testdb
    driver-class-name: org.h2.Driver
    username: sa
    password:
  jpa:
    show-sql: true
    database-platform: org.hibernate.dialect.H2Dialect

  batch:
    jdbc:
      initialize-schema: always
    job:
      enabled: false